### Create Database

In [173]:
import pymysql


db = pymysql.connect(host="<host>",
               user="<user>",
               password="<password>")

In [174]:
cur = db.cursor()

In [182]:
cur.execute('SHOW DATABASES')
cur.fetchall()

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('stocks_and_sentiment',),
 ('sys',))

In [18]:
cur.execute('CREATE DATABASE stocks_and_sentiment')
cur.fetchall()

()

In [188]:
db = pymysql.connect(host="<host>",
               user="<user>",
               password="<password>",
                    database="stocks_and_sentiment")

In [189]:
cur = db.cursor()

In [190]:
cur.execute('SELECT VERSION()')
cur.fetchall()

(('8.0.28',),)

### Create Tables

In [212]:
# tables

# USERS
users_table = """CREATE TABLE IF NOT EXISTS USERS (
                     USER_ID INTEGER PRIMARY KEY AUTO_INCREMENT,
                     FIRST_NAME TEXT NOT NULL,
                     LAST_NAME TEXT NOT NULL,
                     EMAIL TEXT NOT NULL,
                     PASSWORD TEXT NOT NULL,
                     TOLERANCE_FOR_RISK INTEGER NOT NULL
                 );
              """
# STOCKS
portfolios_table = """CREATE TABLE IF NOT EXISTS PORTFOLIOS (
                          USER_ID INTEGER,
                          STOCK_NAME TEXT NOT NULL,
                          TICKER VARCHAR(10) NOT NULL,
                          VOLUME INTEGER NOT NULL,
                          PRIMARY KEY (USER_ID, TICKER),
                          FOREIGN KEY (USER_ID) REFERENCES USERS (USER_ID)
                      );
               """

In [213]:
cur.execute(users_table)

0

In [214]:
cur.execute(portfolios_table)

0

In [215]:
cur.execute('SHOW TABLES')
cur.fetchall()

(('PORTFOLIOS',), ('USERS',))

In [211]:
# cur.execute('DROP TABLE USERS')
# cur.fetchall()

()

### Populate Tables

In [216]:
new_user = """INSERT INTO USERS (
                  FIRST_NAME,
                  LAST_NAME,
                  EMAIL,
                  PASSWORD,
                  TOLERANCE_FOR_RISK
              )
              VALUES (%s, %s, %s, %s, %s)
            """

In [217]:
cur.execute(new_user, ("test_first", "test_last", "test@email.com", "test_password", "1"))
db.commit()

In [218]:
check = """SELECT * FROM USERS"""
cur.execute(check)

1

In [219]:
cur.fetchall()

((1, 'test_first', 'test_last', 'test@email.com', 'test_password', 1),)

In [220]:
check = """SELECT * FROM PORTFOLIOS"""
cur.execute(check)
cur.fetchall()

()

In [221]:
fetch_user_portfolio = """SELECT
                                  STOCK_NAME,
                                  TICKER,
                                  VOLUME
                              FROM
                                  PORTFOLIOS
                              WHERE
                                  USER_ID = %s
                           """
cur.execute(fetch_user_portfolio, (1))
current_portfolio = cur.fetchall()

In [222]:
current_portfolio

()

### Update Table Entries

In [227]:
update = """UPDATE USERS
            SET FIRST_NAME = %s,
                LAST_NAME = %s
            WHERE USER_ID = %s"""

In [228]:
cur.execute(update, ("new_first", "new_last", 1))
db.commit()

In [229]:
check = """SELECT * FROM USERS"""
cur.execute(check)
cur.fetchall()

((1, 'new_first', 'new_last', 'test@email.com', 'test_password', 1),)

### Delete Table Entries

In [230]:
delete = """DELETE FROM USERS
            WHERE USER_ID = %s"""

In [232]:
cur.execute(delete, (1,))
db.commit()

In [233]:
check = """SELECT * FROM USERS"""
cur.execute(check)
cur.fetchall()

()

### Close Connection

In [234]:
db.close()